.DS_Store
.project
.loadpath
*~
*.diff
redis.yml
config/database.*
config/config.yml
config/environments/development.rb
log/*
db/development.sqlite3
tmp/*
vendor/plugins/haml/
_archive/
_archived/
trash/
public/stylesheets/colors.css
public/stylesheets/front.css
public/stylesheets/style.css
public/.htaccess
public/symlinked_folders
public/0.*
public/1.*

